In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('tmdb-movies.csv')

def check_nan(df):
    return df.isna().sum().any()

def reset_index(df,drop):
    return df.reset_index(drop=drop)

In [2]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [3]:
#check if there is null values or not 
check_nan(df)

True

In [4]:
#drop nan values  
df.dropna(inplace=True)

In [5]:
#check result
check_nan(df)

False

In [6]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [7]:
#make new DataFrame with profits values
df_gain = pd.DataFrame()
df_gain = df.copy()

In [8]:
df['release_year'].astype(int)
df.drop(['budget_adj','revenue_adj'],axis=1,inplace=True)

In [9]:
df_gain.drop(['homepage','cast','director','tagline','runtime','genres','production_companies','vote_count','release_date','vote_average','budget_adj','revenue_adj','keywords','overview'],axis=1,inplace=True)

In [10]:
df_gain = df_gain.groupby(['id']).max()
df_gain['release_year'] =2021 - df_gain['release_year']

In [11]:
df_gain.rename(columns={"release_year" : "year_ago"},inplace=True)

In [12]:
df_gain.groupby(['id']).max().head(20)

,imdb_id,popularity,budget,revenue,original_title,year_ago
id,,,,,,
11,tt0076759,12.037933,11000000,775398007,Star Wars,44
12,tt0266543,3.440519,94000000,864625978,Finding Nemo,18
14,tt0169547,3.555720,15000000,356296601,American Beauty,22
17,tt0411267,0.546134,0,0,The Dark,15
22,tt0325980,6.864067,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,18
24,tt0266697,6.174132,30000000,180949000,Kill Bill: Vol. 1,18
26,tt0352994,0.192215,1400000,0,LaLehet Al HaMayim,17
28,tt0078788,2.319520,31500000,83471511,Apocalypse Now,42
35,tt0462538,1.380432,75000000,527068851,The Simpsons Movie,14
38,tt0338013,3.863377,20000000,72258126,Eternal Sunshine of the Spotless Mind,17
58,tt0383574,4.205992,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,15
65,tt0298203,1.558805,41000000,215000000,8 Mile,19
67,tt0445620,0.356717,0,3357075,Paradise Now,16
70,tt0405159,1.648554,30000000,216763646,Million Dollar Baby,17
73,tt0120586,1.333006,20000000,23875127,American History X,23
75,tt0116996,2.036325,70000000,101371017,Mars Attacks!,25
77,tt0209144,3.095625,9000000,39723096,Memento,21
78,tt0083658,4.215642,28000000,32768670,Blade Runner,39
80,tt0381681,0.939705,2700000,15992615,Before Sunset,17
85,tt0082971,4.578300,18000000,389925971,Raiders of the Lost Ark,40

In [13]:
#make new column to calculate total_per_year
total_per_year = ( df_gain.revenue - df_gain.budget )/df_gain.year_ago

In [14]:
df_gain['total_per_year'] = total_per_year

In [15]:
df_gain

,imdb_id,popularity,budget,revenue,original_title,year_ago,total_per_year
id,,,,,,,
11,tt0076759,12.037933,11000000,775398007,Star Wars,44,1.737268e+07
12,tt0266543,3.440519,94000000,864625978,Finding Nemo,18,4.281255e+07
14,tt0169547,3.555720,15000000,356296601,American Beauty,22,1.551348e+07
17,tt0411267,0.546134,0,0,The Dark,15,0.000000e+00
22,tt0325980,6.864067,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,18,2.861173e+07
...,...,...,...,...,...,...,...
371758,tt3581932,0.112284,0,0,And Then There Were None,6,0.000000e+00
378373,tt3532278,1.128081,0,0,Brothers of the Wind,6,0.000000e+00
395560,tt3108244,0.142759,1300000,0,Capsule,6,-2.166667e+05
395883,tt4073890,0.333656,0,0,Andron,6,0.000000e+00
414419,tt6019206,0.146477,30000000,0,Kill Bill: The Whole Bloody Affair,10,-3.000000e+06

In [16]:
df_gain.groupby(['total_per_year']).max().tail()

,imdb_id,popularity,budget,revenue,original_title,year_ago
total_per_year,,,,,,
1.875060e+08,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,6
2.120422e+08,tt0499549,9.432768,237000000,2781505847,Avatar,12
2.193749e+08,tt2820852,9.335014,190000000,1506249360,Furious 7,6
2.272548e+08,tt0369610,32.985763,150000000,1513528810,Jurassic World,6
3.113630e+08,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,6

In [17]:
#make new DataFrame with attributes values
df_att = df[["id","imdb_id","cast","original_title","director","genres","release_year"]]

In [18]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1992 entries, 0 to 10819
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1992 non-null   int64
 1   imdb_id         1992 non-null   object
 2   cast            1992 non-null   object
 3   original_title  1992 non-null   object
 4   director        1992 non-null   object
 5   genres          1992 non-null   object
 6   release_year    1992 non-null   int64
dtypes: int64(2), object(5)
memory usage: 124.5+ KB

In [19]:
#extract all genres one by one 
genres = df_att['genres'].str.split('|', 1).str[0].str.strip()
genres.duplicated().sum()
genres.drop_duplicates(inplace=True)

In [20]:
reset_index(genres,True)

0              Action
1           Adventure
2             Western
3     Science Fiction
4               Drama
5              Family
6              Comedy
7               Crime
8                 War
9             Mystery
10            Fantasy
11           Thriller
12            Romance
13             Horror
14            History
15        Documentary
16          Animation
17              Music
18           TV Movie
Name: genres, dtype: object

In [23]:
df_att

,id,imdb_id,cast,original_title,director,genres,release_year
0,135397,tt0369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,2015
1,76341,tt1392190,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,2015
2,262500,tt2908446,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,2015
3,140607,tt2488496,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,2015
4,168259,tt2820852,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Furious 7,James Wan,Action|Crime|Thriller,2015
...,...,...,...,...,...,...,...
10724,668,tt0064757,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,On Her Majesty's Secret Service,Peter R. Hunt,Adventure|Action|Thriller,1969
10759,948,tt0077651,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,Halloween,John Carpenter,Horror|Thriller,1978
10760,8469,tt0077975,John Belushi|Tim Matheson|John Vernon|Verna Bl...,Animal House,John Landis,Comedy,1978
10817,13963,tt0077838,Robbie Robertson|Rick Danko|Levon Helm|Richard...,The Last Waltz,Martin Scorsese,Documentary|Music,1978
10819,16214,tt0077696,Burt Reynolds|Robert Klein|Adam West|Jan-Micha...,Hooper,Hal Needham,Action|Comedy,1978

<h1>What are films with the highest profits in a short period?

In [24]:
common_films = df_gain.groupby(['total_per_year']).max().tail(10)
common_films

,imdb_id,popularity,budget,revenue,original_title,year_ago
total_per_year,,,,,,
1.202818e+08,tt1201607,5.711315,125000000,1327817822,Harry Potter and the Deathly Hallows: Part 2,10
1.269300e+08,tt1300854,4.946136,200000000,1215439994,Iron Man 3,8
1.405274e+08,tt2294629,6.112766,150000000,1274219009,Frozen,8
1.443953e+08,tt0848228,7.637767,220000000,1519557910,The Avengers,9
1.804552e+08,tt2293640,7.404165,74000000,1156730962,Minions,6
1.875060e+08,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,6
2.120422e+08,tt0499549,9.432768,237000000,2781505847,Avatar,12
2.193749e+08,tt2820852,9.335014,190000000,1506249360,Furious 7,6
2.272548e+08,tt0369610,32.985763,150000000,1513528810,Jurassic World,6
3.113630e+08,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,6

In [25]:
common_films.set_index(['imdb_id'],inplace=True)
common_films.index

Index(['tt1201607', 'tt1300854', 'tt2294629', 'tt0848228', 'tt2293640',
       'tt2395427', 'tt0499549', 'tt2820852', 'tt0369610', 'tt2488496'],
      dtype='object', name='imdb_id')

In [26]:
#extract attributes of common films from df_att
entries = []
for i in common_films.index:
    entry = df_att.loc[df_att['imdb_id'] == i]
    entries.append(entry)
common_films_att = pd.concat(entries)

In [27]:
common_films_att

,id,imdb_id,cast,original_title,director,genres,release_year
3374,12445,tt1201607,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...,Harry Potter and the Deathly Hallows: Part 2,David Yates,Adventure|Family|Fantasy,2011
5425,68721,tt1300854,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Iron Man 3,Shane Black,Action|Adventure|Science Fiction,2013
5422,109445,tt2294629,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Frozen,Chris Buck|Jennifer Lee,Animation|Adventure|Family,2013
4361,24428,tt0848228,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,The Avengers,Joss Whedon,Science Fiction|Action|Adventure,2012
8,211672,tt2293640,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Minions,Kyle Balda|Pierre Coffin,Family|Animation|Adventure|Comedy,2015
14,99861,tt2395427,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Avengers: Age of Ultron,Joss Whedon,Action|Adventure|Science Fiction,2015
1386,19995,tt0499549,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,Avatar,James Cameron,Action|Adventure|Fantasy|Science Fiction,2009
4,168259,tt2820852,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Furious 7,James Wan,Action|Crime|Thriller,2015
0,135397,tt0369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,2015
3,140607,tt2488496,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,2015

In [28]:
#merge attributes and profits 
common_films_att = common_films_att.merge(common_films)

<h1>What are films that got popular in a short period ?

In [32]:
most_popular = df[["id","popularity","imdb_id","cast","original_title","director","genres","release_year"]]
most_popular=most_popular.groupby(['popularity']).max().tail(10)
reset_index(most_popular,False)

,popularity,id,imdb_id,cast,original_title,director,genres,release_year
0,10.739009,131631,tt1951265,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,The Hunger Games: Mockingjay - Part 1,Francis Lawrence,Science Fiction|Adventure|Thriller,2014
1,11.173104,140607,tt2488496,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,2015
2,11.422751,245891,tt2911666,Keanu Reeves|Michael Nyqvist|Alfie Allen|Wille...,John Wick,Chad Stahelski|David Leitch,Action|Thriller,2014
3,12.037933,11,tt0076759,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,Star Wars,George Lucas,Adventure|Action|Science Fiction,1977
4,12.971027,100402,tt1843866,Chris Evans|Scarlett Johansson|Sebastian Stan|...,Captain America: The Winter Soldier,Joe Russo|Anthony Russo,Action|Adventure|Science Fiction,2014
5,13.112507,262500,tt2908446,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,2015
6,14.311205,118340,tt2015381,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,Guardians of the Galaxy,James Gunn,Action|Science Fiction|Adventure,2014
7,24.949134,157336,tt0816692,Matthew McConaughey|Jessica Chastain|Anne Hath...,Interstellar,Christopher Nolan,Adventure|Drama|Science Fiction,2014
8,28.419936,76341,tt1392190,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,2015
9,32.985763,135397,tt0369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,2015

In [33]:
most_popular['release_year'] =2021 - most_popular['release_year'] 
most_popular.rename(columns={"release_year" : "year_ago"},inplace=True)

In [34]:
most_popular

,id,imdb_id,cast,original_title,director,genres,year_ago
popularity,,,,,,,
10.739009,131631,tt1951265,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,The Hunger Games: Mockingjay - Part 1,Francis Lawrence,Science Fiction|Adventure|Thriller,7
11.173104,140607,tt2488496,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,6
11.422751,245891,tt2911666,Keanu Reeves|Michael Nyqvist|Alfie Allen|Wille...,John Wick,Chad Stahelski|David Leitch,Action|Thriller,7
12.037933,11,tt0076759,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,Star Wars,George Lucas,Adventure|Action|Science Fiction,44
12.971027,100402,tt1843866,Chris Evans|Scarlett Johansson|Sebastian Stan|...,Captain America: The Winter Soldier,Joe Russo|Anthony Russo,Action|Adventure|Science Fiction,7
13.112507,262500,tt2908446,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,6
14.311205,118340,tt2015381,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,Guardians of the Galaxy,James Gunn,Action|Science Fiction|Adventure,7
24.949134,157336,tt0816692,Matthew McConaughey|Jessica Chastain|Anne Hath...,Interstellar,Christopher Nolan,Adventure|Drama|Science Fiction,7
28.419936,76341,tt1392190,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,6
32.985763,135397,tt0369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,6

<h1>What are top-rated films?

In [35]:
vote = df[["id","imdb_id","original_title","release_year","vote_count","vote_average"]]
vote

,id,imdb_id,original_title,release_year,vote_count,vote_average
0,135397,tt0369610,Jurassic World,2015,5562,6.5
1,76341,tt1392190,Mad Max: Fury Road,2015,6185,7.1
2,262500,tt2908446,Insurgent,2015,2480,6.3
3,140607,tt2488496,Star Wars: The Force Awakens,2015,5292,7.5
4,168259,tt2820852,Furious 7,2015,2947,7.3
...,...,...,...,...,...,...
10724,668,tt0064757,On Her Majesty's Secret Service,1969,258,6.4
10759,948,tt0077651,Halloween,1978,522,7.3
10760,8469,tt0077975,Animal House,1978,230,6.7
10817,13963,tt0077838,The Last Waltz,1978,33,8.0
10819,16214,tt0077696,Hooper,1978,13,6.0

In [36]:
top_rated = vote.groupby(['vote_average']).max().tail(10)
reset_index(top_rated,False)

,vote_average,id,imdb_id,original_title,release_year,vote_count
0,7.4,273248,tt3460252,Weekend,2015,4304
1,7.5,378373,tt4909348,Toy Story 3,2015,6723
2,7.6,295144,tt3659786,X-Men: Days of Future Past,2015,4572
3,7.7,371758,tt3581932,The Lion King,2015,7375
4,7.8,314365,tt2370248,Yes or No: Ã Â¸Â­Ã Â¸Â¢Ã Â¸Â²Ã Â¸Ã Â¸Â£Ã Â¸Â±Ã Â¸ Ã Â¸Ã Â¹â€¡Ã Â¸Â£Ã Â¸Â±Ã Â¸Ã Â¹...,2015,6351
5,7.9,210577,tt2267998,The Wolf of Wall Street,2014,9767
6,8.0,331214,tt3170832,Tupac: Resurrection,2015,6498
7,8.1,414419,tt6019206,The Dark Knight,2011,8432
8,8.2,244786,tt2582802,Whiplash,2014,2372
9,8.3,238,tt0068646,The Godfather,1972,3970

In [37]:
top_rated.to_csv('top_rated.csv')
most_popular.to_csv('most_popular.csv')
common_films_att.to_csv('top_10.csv')

In [38]:
highest_profits = df_gain.groupby(['total_per_year']).max().tail(10)
reset_index(highest_profits,False)

,total_per_year,imdb_id,popularity,budget,revenue,original_title,year_ago
0,1.202818e+08,tt1201607,5.711315,125000000,1327817822,Harry Potter and the Deathly Hallows: Part 2,10
1,1.269300e+08,tt1300854,4.946136,200000000,1215439994,Iron Man 3,8
2,1.405274e+08,tt2294629,6.112766,150000000,1274219009,Frozen,8
3,1.443953e+08,tt0848228,7.637767,220000000,1519557910,The Avengers,9
4,1.804552e+08,tt2293640,7.404165,74000000,1156730962,Minions,6
5,1.875060e+08,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,6
6,2.120422e+08,tt0499549,9.432768,237000000,2781505847,Avatar,12
7,2.193749e+08,tt2820852,9.335014,190000000,1506249360,Furious 7,6
8,2.272548e+08,tt0369610,32.985763,150000000,1513528810,Jurassic World,6
9,3.113630e+08,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,6

In [39]:
highest_profits.to_csv('highest_profits.csv')

<h1>Most popular genres

In [40]:
df_att['genres'].str.split("|")

0        [Action, Adventure, Science Fiction, Thriller]
1        [Action, Adventure, Science Fiction, Thriller]
2                [Adventure, Science Fiction, Thriller]
3         [Action, Adventure, Science Fiction, Fantasy]
4                             [Action, Crime, Thriller]
                              ...
10724                     [Adventure, Action, Thriller]
10759                                [Horror, Thriller]
10760                                          [Comedy]
10817                              [Documentary, Music]
10819                                  [Action, Comedy]
Name: genres, Length: 1992, dtype: object

In [41]:
reset_index(genres,True)
genres = list(genres)
genres

AttributeError: 'list' object has no attribute 'reset_index'

In [43]:
n = 0
genres_is=[]
for i in list(df_att['genres'].str.split("|")):
    for x in range(len(i)) :
        if i[x] in genres :
            for c in range(len(genres)):
                if i[x] == genres[c] :
                    genres_is.append(genres[c])

In [44]:
genres_is

['Action',
 'Adventure',
 'Science Fiction',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Thriller',
 'Adventure',
 'Science Fiction',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Fantasy',
 'Action',
 'Crime',
 'Thriller',
 'Western',
 'Drama',
 'Adventure',
 'Thriller',
 'Science Fiction',
 'Action',
 'Thriller',
 'Adventure',
 'Drama',
 'Adventure',
 'Science Fiction',
 'Family',
 'Animation',
 'Adventure',
 'Comedy',
 'Comedy',
 'Animation',
 'Family',
 'Action',
 'Adventure',
 'Crime',
 'Science Fiction',
 'Fantasy',
 'Action',
 'Adventure',
 'Drama',
 'Science Fiction',
 'Action',
 'Comedy',
 'Science Fiction',
 'Action',
 'Adventure',
 'Science Fiction',
 'Crime',
 'Drama',
 'Mystery',
 'Western',
 'Crime',
 'Action',
 'Thriller',
 'Science Fiction',
 'Action',
 'Adventure',
 'War',
 'Adventure',
 'Science Fiction',
 'Action',
 'Family',
 'Science Fiction',
 'Adventure',
 'Mystery',
 'Action',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 'Crime',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'Thriller',
 'History',
 'Action',
 'Science Fiction',
 'Thriller',
 'Mystery',
 'Drama',
 'Crime',
 'Action',
 'Science Fiction',
 'Adventure',
 'Horror',
 'Comedy',
 'Drama',
 'Thriller',
 'Adventure',
 'Animation',
 'Comedy',
 'Family',
 'Fantasy',
 'Drama',
 'Romance',
 'Drama',
 'Music',
 'Fantasy',
 'Action',
 'Adventure',
 'Fantasy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Science Fiction',
 'Fantasy',
 'Comedy',
 'Animation',
 'Science Fiction',
 'Family',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Science Fiction',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Drama',
 'Science Fiction',
 'Mystery',
 'Thriller',
 'Comedy',
 'Adventure',
 'Mystery',
 'Crime',
 'Action',
 'Thriller',
 'Drama',
 'Action',
 'Adventure',
 'Science Fiction',
 'Mystery',
 'Horror',
 'Action',
 'Comedy',
 'Crime',
 'Romance',
 'Comedy',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Thriller',
 'Drama',
 'Adventure',
 'Action',
 'History',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Crime',
 'Thriller',
 'Comedy',
 'Drama',
 'Adventure',
 'Animation',
 'Comedy',
 'Family',
 'Drama',
 'Comedy',
 'Drama',
 'Horror',
 'Thriller',
 'Family',
 'Comedy',
 'Adventure',
 'Drama',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Drama',
 'Romance',
 'Science Fiction',
 'Thriller',
 'Mystery',
 'Comedy',
 'Adventure',
 'Animation',
 'Fantasy',
 'Adventure',
 'Animation',
 'Comedy',
 'Family',
 'Drama',
 'Romance',
 'Comedy',
 'Horror',
 'Thriller',
 'Comedy',
 'Horror',
 'Horror',
 'Thriller',
 'Horror',
 'Comedy',
 'Fantasy',
 'Drama',
 'Mystery',
 'Thriller',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'Action',
 'Crime',
 'Mystery',
 'Thriller',
 'Fantasy',
 'Horror',
 'Drama',
 'Crime',
 'Drama',
 'Mystery',
 'Family',
 'Animation',
 'Family',
 'Animation',
 'Comedy',
 'Adventure',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Adventure',
 'Drama',
 'Family',
 'Drama',
 'Action',
 'Comedy',
 'Science Fiction',
 'Fantasy',
 'History',
 'Drama',
 'War',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Animation',
 'Family',
 'Drama',
 'Science Fiction',
 'Documentary',
 'Music',
 'Fantasy',
 'Horror',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Music',
 'War',
 'Comedy',
 'Drama',
 'Romance',
 'Romance',
 'Drama',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'Horror',
 'Drama',
 'Animation',
 'Adventure',
 'Comedy',
 'Documentary',
 'Horror',
 'Thriller',
 'History',
 'Drama',
 'Fantasy',
 'Comedy',
 'Animation',
 'Drama',
 'Music',
 'Animation',
 'Family',
 'Fantasy',
 'Comedy',
 'Horror',
 'Thriller',
 'Comedy',
 'Crime',
 'Drama',
 'Music',
 'Adventure',
 'Fantasy',
 'Documentary',
 'Thriller',
 'Action',
 'Drama',
 'Horror',
 'Comedy',
 'Romance',
 'Thriller',
 'Drama',
 'Science Fiction',
 'Drama',
 'Romance',
 'Comedy',
 'Documentary',
 'Comedy',
 'Documentary',
 'Thriller',
 'Action',
 'Science Fiction',
 'Science Fiction',
 'Comedy',
 'Horror',
 'Romance',
 'Comedy',
 'Drama',
 'Horror',
 'Thriller',
 'History',
 'Documentary',
 'Family',
 'Horror',
 'Comedy',
 'Romance',
 'Horror',
 'Thriller',
 'Drama',
 'Drama',
 'Thriller',
 'Documentary',
 'Romance',
 'Drama',
 'Comedy',
 'Mystery',
 'TV Movie',
 'Comedy',
 'History',
 'Drama',
 'Family',
 'Thriller',
 'Mystery',
 'Science Fiction',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Documentary',
 'Documentary',
 'Drama',
 'Thriller',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Drama',
 'Music',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Documentary',
 'Drama',
 'History',
 'Thriller',
 'Science Fiction',
 'Music',
 'Drama',
 'Documentary',
 'Crime',
 'Mystery',
 'Drama',
 'Documentary',
 'Drama',
 'Documentary',
 'History',
 'Thriller',
 'Science Fiction',
 'Drama',
 'Thriller',
 'Horror',
 'Comedy',
 'Drama',
 'Adventure',
 'Drama',
 'Science Fiction',
 'Action',
 'Science Fiction',
 'Adventure',
 'Action',
 'Adventure',
 'Science Fiction',
 'Action',
 'Thriller',
 'Science Fiction',
 'Adventure',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Adventure',
 'Family',
 'Animation',
 'Action',
 'Comedy',
 'History',
 'Drama',
 'Thriller',
 'War',
 'Action',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Mystery',
 'Thriller',
 'Drama',
 'Action',
 'Science Fiction',
 'Thriller',
 'Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Action',
 'Science Fiction',
 'Science Fiction',
 'Action',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Crime',
 'Drama',
 'Thriller',
 'Science Fiction',
 'Action',
 'Adventure',
 'Drama',
 'Music',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Science Fiction',
 'War',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Action',
 'Science Fiction',
 'Thriller',
 'Fantasy',
 'Adventure',
 'Action',
 'Family',
 'Romance',
 'Crime',
 'Action',
 'Thriller',
 'Fantasy',
 'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Action',
 'Adventure',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Animation',
 'Comedy',
 'Action',
 'Adventure',
 'Fantasy',
 'Fantasy',
 'Comedy',
 'Music',
 'Action',
 'War',
 'Drama',
 'Science Fiction',
 'Crime',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Comedy',
 'Thriller',
 'Action',
 'Science Fiction',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Adventure',
 'Drama',
 'Romance',
 'Drama',
 'Music',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Science Fiction',
 'Science Fiction',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Animation',
 'Adventure',
 'Comedy',
 'Family',
 'War',
 'Drama',
 'History',
 'Action',
 'Drama',
 'War',
 'Comedy',
 'Romance',
 'Comedy',
 'Family',
 'Animation',
 'Fantasy',
 'Thriller',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Animation',
 'Comedy',
 'Adventure',
 'Family',
 'Comedy',
 'Drama',
 'Mystery',
 'Drama',
 'Thriller',
 'Horror',
 'Thriller',
 'Thriller',
 'Mystery',
 'Horror',
 'Horror',
 'Thriller',
 'Drama',
 'Thriller',
 'Horror',
 'Drama',
 'Fantasy',
 'Mystery',
 'Romance',
 'Crime',
 'Thriller',
 'War',
 'Drama',
 'Drama',
 'Action',
 'Family',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'Science Fiction',
 'TV Movie',
 'Comedy',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Romance',
 'Animation',
 'Drama',
 'Fantasy',
 'Science Fiction',
 'Horror',
 'Comedy',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Science Fiction',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Family',
 'Drama',
 'Comedy',
 'Thriller',
 'Action',
 'Science Fiction',
 'Drama',
 'Music',
 'Drama',
 'Drama',
 'Documentary',
 'Family',
 'Horror',
 'Action',
 'Comedy',
 'Fantasy',
 'Comedy',
 'Action',
 'Fantasy',
 'Comedy',
 'Horror',
 'Mystery',
 'Drama',
 'Thriller',
 'Horror',
 'Science Fiction',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Comedy',
 'Fantasy',
 'Adventure',
 'Family',
 'Animation',
 'Music',
 'Comedy',
 'Thriller',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Horror',
 'Mystery',
 'Science Fiction',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Thriller',
 'Horror',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Drama',
 'Documentary',
 'Thriller',
 'Drama',
 'Crime',
 'Mystery',
 'Drama',
 'Western',
 'Romance',
 'Drama',
 'Thriller',
 'War',
 'Adventure',
 'Drama',
 'Horror',
 'Documentary',
 'Romance',
 'Comedy',
 'Horror',
 'Thriller',
 'Action',
 'Music',
 'Drama',
 'Adventure',
 'Animation',
 'Action',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'Action',
 'Crime',
 'Music',
 'Drama',
 'Drama',
 'Family',
 'Science Fiction',
 'Science Fiction',
 'Action',
 'Fantasy',
 'Drama',
 'Mystery',
 'Thriller',
 'Horror',
 'Thriller',
 'Adventure',
 'Action',
 'Horror',
 'Comedy',
 'Documentary',
 'History',
 'Thriller',
 'Horror',
 'Horror',
 'Comedy',
 'Comedy',
 'Family',
 'Romance',
 'Drama',
 'Drama',
 'TV Movie',
 'Documentary',
 'Family',
 'Fantasy',
 'Horror',
 'Drama',
 'History',
 'Comedy',
 'Romance',
 'Thriller',
 'Crime',
 'Action',
 'Drama',
 'Documentary',
 'Drama',
 'Music',
 'Romance',
 'Drama',
 'Documentary',
 'Drama',
 'Documentary',
 'Music',
 'Thriller',
 'Horror',
 'Mystery',
 'Adventure',
 'Drama',
 'Documentary',
 'Horror',
 'Thriller',
 'Adventure',
 'Action',
 'Science Fiction',
 'Adventure',
 'Action',
 'Thriller',
 'Animation',
 'Family',
 'Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Drama',
 'Action',
 'Thriller',
 'War',
 'Adventure',
 'Fantasy',
 'Family',
 'Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Drama',
 'Action',
 'Thriller',
 'Science Fiction',
 'Action',
 'Thriller',
 'Science Fiction',
 'Adventure',
 'Drama',
 'Action',
 'Comedy',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Adventure',
 'Science Fiction',
 'Thriller',
 'Mystery',
 'Romance',
 'Family',
 'Animation',
 'Music',
 'Drama',
 'Comedy',
 'Horror',
 'Adventure',
 'Fantasy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Adventure',
 'Action',
 'Thriller',
 'Science Fiction',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Mystery',
 'Comedy',
 'Romance',
 'Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Animation',
 'Comedy',
 'Family',
 'Animation',
 'Family',
 'Adventure',
 'Fantasy',
 'Action',
 'Comedy',
 'Family',
 'Comedy',
 'Animation',
 'Drama',
 'Fantasy',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Family',
 'Thriller',
 'Science Fiction',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Horror',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Animation',
 'Family',
 'Adventure',
 'Fantasy',
 'Horror',
 'Thriller',
 'Thriller',
 'Science Fiction',
 'Action',
 'Adventure',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Science Fiction',
 'Drama',
 'Fantasy',
 'Action',
 'Adventure',
 'Family',
 'Comedy',
 'Thriller',
 'Drama',
 'Crime',
 'Comedy',
 'Romance',
 'Fantasy',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Science Fiction',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Animation',
 'Family',
 'Adventure',
 'Science Fiction',
 'Romance',
 'Drama',
 'History',
 'Crime',
 'Drama',
 'Comedy',
 'Horror',
 'Mystery',
 'Comedy',
 'Family',
 'Animation',
 'Fantasy',
 'Music',
 'Drama',
 'Horror',
 'Mystery',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Comedy',
 'Crime',
 'Drama',
 'Thriller',
 'Horror',
 'Mystery',
 'Thriller',
 'Drama',
 'Comedy',
 'Fantasy',
 'Horror',
 'Action',
 'Thriller',
 'Science Fiction',
 'Drama',
 'Romance',
 'Action',
 'Horror',
 'Mystery',
 'Drama',
 'History',
 'Romance',
 'Comedy',
 'Action',
 'Crime',
 'Mystery',
 'Thriller',
 'Drama',
 'Horror',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Science Fiction',
 'Action',
 'Adventure',
 'Comedy',
 'War',
 'Comedy',
 'Romance',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Drama',
 'Family',
 'Music',
 'Family',
 'Fantasy',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'History',
 'Science Fiction',
 'Animation',
 'Family',
 ...]

In [45]:
genres_is = pd.Series(genres_is)

In [46]:
#show most common genres
genres_is.value_counts()

Drama              838
Comedy             640
Thriller           575
Action             532
Adventure          361
Romance            291
Science Fiction    291
Horror             273
Crime              262
Family             233
Fantasy            202
Animation          170
Mystery            148
Documentary         93
Music               72
History             56
War                 44
Western             20
TV Movie            16
dtype: int64